<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/backstage.css">
    <script src="./ajax/jquery-2.1.0.js"></script>
    <script>
        document.onreadystatechange = function () {
            // console.log(222)
            // console.log(document.readyState)
            if (document.readyState == "complete") {
                // console.log(111)
                $('.back-stage-loading').css({
                    display: 'none'
                })
                $('.back-stage-wrap').css({
                    filter: 'blur(0px)'
                });
            }
        }
    </script>
</head>

<body>
    <div class="back-stage-nav" style=<%=!isLogin?'display:none':'display:flex'%>>
        <div class="back-stage-left">
            <div class="back-stage-avator">
                <img class="back-stage-img" src="./img/menu.png">
            </div>
            <div class="back-stage-name">
                System Manager
            </div>
        </div>
        <div class="back-stage-btn-wrap">
            <span class="back-stage-btn back-stage-logout">Log out</span>
            <span class="back-stage-btn back-stage-getclass">Update Data</span>
            <span class="back-stage-btn back-stage-aboutus">About Me</span>
        </div>
    </div>
    <div class="back-stage-pull-mask" style=<%=isLogin?'display:none':'display:flex'%>>
        <form action="/back/login" method="POST">
            <div class="back-stage-pull-wrap">
                <div class="back-stage-header content-wrap">
                    输入管理员密码
                </div>
                <div class="back-stage-password-input content-wrap">
                    <span>请输入管理员密码 ：</span>
                    <input type="password" name="password">
                </div>
                <div class="back-stage-btn-wrap content-wrap">
                    <button type="submit">submit</button>
                </div>
            </div>
        </form>

    </div>
    <div class="add-new-user-wrap">
        <div class="add-new-user-content">
            <div class="input-wrap">
                <span>username</span>
                <input name="username" class="add-new-user-username" type="text">
            </div>
            <div class="input-wrap">
                <span>password</span>
                <input name="password" class="add-new-user-password" type="text">
            </div>
            <div class="add-new-user-btn">
                <button class="add-user-cancel-btn cancel">cancel</button>
                <button class="add-user-submit-btn submit" type="submit">submit</button>
            </div>
        </div>
    </div>
    <div class="back-stage-wrap">
        <div class="back-stage-wrap-top">
            <div class="back-stage-top-title">
                <div class="back-stage-title-text">
                    <span>User information list</span>
                </div>
                <div class="back-stage-btn-wrap">
                    <button class="update-btn"><img src="./img/update.png" alt=""></button>
                    <button class="create-btn">创建用户</button>
                </div>
            </div>
            <div class="back-stage-search-wrap">
                <form action="/back/search" method="POST" class="back-stage-search-input-wrap">
                    <div class="back-stage-down-wrap back-stage-down-btn">
                        <img src="./img/down.png" alt="">
                        <ul class="down-list">
                            <li class="item" id="item-0">auto recognize</li>
                            <li class="item" id="item-1">_id</li>
                            <li class="item" id="item-2">username</li>
                        </ul>
                    </div>
                    <div class="back-stage-search-span-input">
                        <input class="back-stage-search-input" placeholder="Please select a query attribute" type="text"
                            name="auto">
                    </div>
                    <button type="submit"><img src="./img/search.png" alt=""></button>
                </form>
            </div>
        </div>
        <table class="back-stage-table">
            <thead>
                <tr>
                    <th class="checkbox">
                        <input type="checkbox">
                    </th>
                    <th>
                        <span>_id</span>
                    </th>
                    <th>
                        <span>username</span>
                    </th>
                    <th>
                        <span>password</span>
                    </th>
                    <th>
                        <span>Operations</span>

                    </th>
                </tr>
            </thead>
            <tbody id="tbody">

            </tbody>
        </table>
    </div>
    <div class="back-stage-loading">
        <div class="back-loading-bcg">
            <img src="./img/loading.gif" alt="">
        </div>
    </div>
    <div class="tips">
        <span class="tips-text">sorry, no this document...</span>
    </div>
</body>


<script>
    if ('<%=isLogin%>') {
        var result = JSON.parse('<%-JSON.stringify(mongodata)%>');
        var html = '';
        if (result[0].hasOwnProperty('nodata')) {
            $('.tips').css({
                display: 'flex'
            })
            setTimeout(function () {
                $('.tips').css({
                    display: 'none'
                })
            }, 3000);
        } else {
            result.forEach(element => {
                var item = `<tr>
                    <td class="checkbox">  
                        <input type="checkbox">  
                    </td>
                    <td class="_id">`+ element._id + `</td>
                    <td>`+ element.username + `</td>
                    <td>`+ element.password + `</td>
                    <td class="btn">
                        <span class='delete' id='delete-`+ element._id + `'>删除</span>
                        <span class='modify' id='modify-`+ element._id + `'>修改</span>
                    </td>
                </tr>`
                html += item;
            });
            var tbody = $('#tbody');
            tbody.append(html);
        }

    }
</script>
<script src="./index.js"></script>
<script src="./ajax/back_ajax.js"></script>

</html>