<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/backstage.css">
</head>
<body>
    <div class="back-stage-nav">
        <div class="back-stage-left">
            <div class="back-stage-avator">
                <img class="back-stage-img" src="./img/menu.png">
            </div>
            <div class="back-stage-name">
                System Manager 
            </div>
        </div>
        <div class="back-stage-btn-wrap">
            <span class="back-stage-btn back-stage-logout">Log out</span>
            <span class="back-stage-btn back-stage-getclass">Update Data</span>
            <span class="back-stage-btn back-stage-aboutus">About Me</span>
        </div>
    </div>
</body>
</html>