<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/backstage.css">
</head>

<body>
    <div class="back-stage-nav" style=<%=!isLogin?'display:none':'display:flex'%>>
        <div class="back-stage-left">
            <div class="back-stage-avator">
                <img class="back-stage-img" src="./img/menu.png">
            </div>
            <div class="back-stage-name">
                System Manager
            </div>
        </div>
        <div class="back-stage-btn-wrap">
            <span class="back-stage-btn back-stage-logout">Log out</span>
            <span class="back-stage-btn back-stage-getclass">Update Data</span>
            <span class="back-stage-btn back-stage-aboutus">About Me</span>
        </div>
    </div>
    <div class="back-stage-pull-mask" style=<%=isLogin?'display:none':'display:flex'%>>
        <form action="/back/login" method="POST">
            <div class="back-stage-pull-wrap">
                <div class="back-stage-header content-wrap">
                    输入管理员密码
                </div>
                <div class="back-stage-password-input content-wrap">
                    <span>请输入管理员密码 ：</span>
                    <input type="password" name="password">
                </div>
                <div class="back-stage-btn-wrap content-wrap">
                    <button type="submit">submit</button>
                </div>
            </div>
        </form>

    </div>
    <div class="back-stage-wrap">
        <table class="back-stage-table">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox">
                    </th>
                    <th>
                        <span>_id</span>
                    </th>
                    <th>
                        <span>username</span>
                    </th>
                    <th>
                        <span>password</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>